@import "stylesheets/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url("/img/patterns/subtle_dots.png");
}

@import "stylesheets/responsive.less";

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */












/* chromeframe styles */

 .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@import "stylesheets/print.less";